html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #e2e7f1;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
}
a {
  color: #047bf8;
}
.navbar, .navbar-spacer {
  height: 65px;
  width: 100%;
}
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  background: #1c4cc3;
  color: #fff;
  z-index: 9;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.logo {
  font-size: 25px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.logo img {
  width: 180px;
}
.left-nav, .right-nav  {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.left-nav {
  padding-left: 20px;
}
.right-nav {
  padding-right: 20px;
}
.right-nav-contents {

}
.navbar button, .grey-btn {
  padding: 0 10px;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #d1d2d3;
  border-radius: 0.25em;
  height: 26px;
  line-height: 26px;
  background-color: #eff3f6;
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAFBFC', endColorstr='#FFE4EBF0')";
  margin-left: 20px;
}
.navbar button:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(to bottom, #f0f3f6, #dce3ec);
  border-color: #afb1b2;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F6', endColorstr='#FFDCE3EC')";
}
.layout {
  padding: 0 30px;
}
.page-title {
  display: flex;
  align-items: center;
}
.back-button {
  text-decoration: none;
}
.refresh-button {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  font-size: 22px;
  margin-bottom: -6px;
}

/** Form List View **/
.search-input {
  padding: 8px 10px;
  min-width: 200px;
  display: inline-block;
  margin-left: 20px;
  box-shadow: 0px 0px 0px 2px rgba(69, 101, 173, 0.1);
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.search-input:hover, .search-input:active, .search-input:focus  {
  box-shadow: 0px 0px 0px 2px #047bf8;
}
.forms-list {
  margin-top: 20px;
  padding-bottom: 100px;
}
.forms-list-item {
  padding: 14.4px 17.6px;
  box-shadow: 0px 2px 5px rgba(69, 101, 173, 0.1);
  border-radius: 4px;
  transition: all 0.3s ease;
  background: #fff;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #333;
}
.forms-list-item:hover {
  /*transform: translateY(-3px);*/
  background: #f9f9f9;
  box-shadow: 0px 0px 0px 2px #047bf8;
}
.forms-list-item-title {
  font-size: 20px;
  font-weight: 700;
  min-width: 300px;
  max-width: 300px;
  padding-left: 10px;
}
.forms-list-item-metric {
  padding: 0 30px;
}
.forms-list-item-label {
  font-size: 10px;
}
.forms-list-item-label, .forms-list-item-value {
  text-align: center;
}
.forms-list-item-value {
  font-size: 22px;
}
.last-conversion {
  min-width: 180px;
}


/** Single Form View **/
.back-button-action {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: -10px;
}
.back-button-action a {
  text-decoration: none;
}
.form-entry-wrapper {
  box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
  margin-bottom: 20px;
  background: #fff;
  transition: all 0.3s ease;
}
.form-entry-wrapper:hover {
  box-shadow: 0px 0px 0px 2px #047bf8;
  /*transform: translateY(-3px);*/
  cursor: pointer;
}
.form-entry {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.form-entry-header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.form-entry-content {
  padding: 10px 30px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.form-entry-field {
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  font-size: 15px;
}
.form-entry-field span {
  font-weight: 200;
}
.form-entry-field b {
  display: inline-block;
  min-width: 140px;
  font-weight: 700;
}
